h1 {
	color: #022f77;
	border-color: purple;
	border-width: 5px;
	border-style: solid;
}
li {
	color: purple;
}
h4 {
	background: rgb(255,100,80);
}
body{
	background: pink;
	/*background: url(https://s-media-cache-ak0.pinimg.com/originals/68/1a/55/681a554b3dc86566c38678422b6daa80.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
}